

Dear students, in this homework, you will analyze the Titanic dataset. Please read the tasks carefully and ask any questions you have on Discord. The homework consists of 10 tasks with a total of 10 points, but bonus points may be awarded for accuracy in task 10. Good luck and have fun!

In [ ]:
import pandas as pd

##Task 1. Read the data and display top 5 rows(0.5 pt)

##Task 2. Print dataframe's columns names and dimensionality(0.5 pt)

##Task 3. Calculate how many men and women are in the dataset (0.5 pt)

#Task 4. Calculate survival rate for men and women (0.5 pt)

#Task 5. Group the data by Pclass and and display statistics on Age and Fare (1 pt)

#Task 6. What is the most popular family name in the dataset (1 pt)

##Task 7. What is the mean and std for all columns for survived male passengers (1 pt)

#Task 8. Display rows from 40th to 60th (in numeration from zero) (1 pt)

##Task 9. Sort the table by Fare in descending order (1 pt)

##Task 10 Implement simple model to predict whether the person have survived according to knowledge you got from data analysis. Then calculate accuracy of your predictions on the dataset. Try to maximize accuracy (a student with maximum accuracy will recieve additional points). For example, the simplest model may look like (df["predict_survived"] = df["Sex"] == "male") (3 pt)